<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191177800943-anb6rnh9p1jkmv0p5lb66gmr7memhjns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191177800943-anb6rnh9p1jkmv0p5lb66gmr7memhjns</string>
	<key>API_KEY</key>
	<string>AIzaSyBfsKrT5VxaZC6dcVe21UBqYydJgj1oOJY</string>
	<key>GCM_SENDER_ID</key>
	<string>191177800943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arturxsan.wenmoon</string>
	<key>PROJECT_ID</key>
	<string>wenmoon-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>wenmoon-tech.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191177800943:ios:4d62eb58f486b5b0122f1a</string>
</dict>
</plist>